/*Margin and padding reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.main>h1 {
    color: rgb(246, 238, 238);
    font-weight: 300;
    font-size: 64px;
    margin-bottom: 12px;
}

.main>p {
    color: rgb(246, 238, 238);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 24px;
}

.main > a > button {
    color: #d4daea;
    background-color: #3a4052;
    border-width: 1px;
    border-color: #e5ebfe;
    border-style: solid;
    padding: 14px 30px;
    border-radius: 4px;
    opacity: 0.8;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.main>a>button:hover {
    transform: scale(0.95);
}

/*StackOverflow solution*/
.video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    -webkit-filter: blur(15px);
    -o-filter: blur(5px);
    filter: blur(5px);
    object-fit: cover;
    transform: scale(1.06);
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.about>h1 {
    font-weight: 300;
    font-size: 64px;
}

.about>p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
}

.about>h3 {
    font-size: 24px;
    margin-bottom: 16px;
    color: rgb(61, 57, 57);
}

.about>a {
    font-size: 60px;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.about>a:hover{
    transform: scale(0.95);
}

.about>a:link,
.about>a:visited,
.about>a:hover,
.about>a:active {
    text-decoration: none;
    color: black;
    
}